#projects-page #projects {
    @include lateral-layout-padding;

    margin-top: 10rem;

    @media (max-width: 440px) {
        margin-top: 4.8rem;

        padding: 1rem;

        h1 {
            @include lateral-layout-padding;
        }
    }
}