// #presentation {
//     background-color: 
//     $background-primary;
//     color: $font-primary;
//     height: 85vh;
//     width: 100vw;
//     overflow: hidden;


//     padding: 0 $layout-lateral-padding;

//     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   

//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .text-content{
//         width: 50%;
//         height: 50%;;
         
//         position: relative;
//         &::after {
//             content: '';
//             position: absolute; 
//             top: 0; 
//             left: 0; 
//             width: 6rem; 
//             height: .35rem;
//             background-color: $background-secondary;

//             border-radius: 2.5rem;
//         }

//         > p:first-child {
//             font-size: 2.4rem;
//             font-weight: 300;
//             margin-top: 2.4rem;
//         }

//         h2 {
//             font-size: 6.4rem;
//             font-weight: 600;
//         }

//         h1 {
//             font-size: 3.2rem;
//         }

//         p:last-of-type {
//             font-size: 1.6rem;
//             font-weight: 300;
//             margin-top: 2.4rem;
//             width: 80%;
//             margin-bottom: 2.4rem;
//         }

//         .buttons-wrapper {
//             display: flex;
//             gap: 1rem;
//         }
//     }

//     img {
//         height: 93%;
//         align-self: end;
//     }

//     .light{
//         position: absolute;
//         width: 50rem;
//         height: 20rem;

//         &.top {
//             top: 0;
//             left: 10vw;
//         }

//         &.bottom {
//             bottom: 10vh;
//             left: 10vw;
//         }
//     }
// }

// @media (max-width: $bp-1){
//     #presentation {
//         padding: 0 $layout-lateral-padding-bp1;
//         min-height: 80vh;
//         height: fit-content;
//         width: 100vw;
//         padding-top:2rem;

//         img {
//             position: absolute;
//             right: -11rem; 
//             height: 36rem;
//             filter: brightness(115%);
//         }

        

//         .text-content {
//             width: 100vw;
//             z-index: 999;
//             text-shadow: black 0px 0px 10px;


//             > p:first-child {
//                 font-size: 1.8rem;
//                 font-weight: 300;
//                 margin-top: 2rem;
//                 margin-bottom: 1rem;
//             }
    
//             h2 {
//                 font-size: 2.8rem;
//                 font-weight: 600;
//             }
    
//             h1 {
//                 font-size: 2rem;
//                 width: 50%;
//             }
    
//             p:last-of-type {
//                 font-size: 1.3rem;
//                 font-weight: 300;
//                 margin-top: 1rem;
//                 width: 58%;
//                 margin-bottom: 2.4rem;
//             }

//             .buttons-wrapper {
//                 display: flex;
//                 flex-direction: column;
//                 padding: 0;
//                 gap: 0;
//                 .link-button {
//                     min-width: 0px;
//                     line-height: 1.2rem;
//                     width: 10rem;
//                     padding: 1.2rem 1.6rem;
//                     font-size: 1.2rem;
//                     margin: 0 0 1rem 0;
//                 }
//             }
//         }
//     }
// }
#presentation {
    background-color: 
    $background-primary;
    color: $font-primary;
    height: 95vh;
    width: 100vw;
    overflow: hidden; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    display: flex;
    justify-content: space-between;
    padding: 0 $layout-lateral-padding-bp1;


    .text-content{
        width: 75%;
        height: 60%;
        text-shadow: black 0px 0px 5px;
        z-index: 999;
        margin-top:10vh;
            
        position: relative;
        &::after {
            content: '';
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 6rem; 
            height: .35rem;
            background-color: $background-secondary;
            
            border-radius: 2.5rem;
        }
        
        > p:first-child {
            font-size: 1.8rem;
            font-weight: 300;
            margin-top: 2rem;
        }
        
        h2 {
            font-size: 2.8rem;
            font-weight: 600;
            margin-top: 1.2rem;
        }
        
        h1 {
            font-size: 2rem;
            margin-top: 1.2rem;

        }
        
        p:last-of-type {
            font-size: 1.4rem;
            font-weight: 300;
            margin-top: 1.2rem;
            width: 60%;
            margin-bottom: 2.4rem;
        }

        .buttons-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 0;
            .link-button {
                min-width: 8rem;
                text-shadow: none;
                line-height: 1.3rem;
                width: 40vw;
                max-width: 18rem;
                padding: 1.4rem 1.6rem;
                font-size: 1.3rem;
                margin: 0 0 1rem 0;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            }
        }
    }

    .light{
        position: absolute;
        width: 25rem;
        height: 10rem;

        &.top {
            top: 0;
            left: 5vw;
        }

        &.bottom {
            bottom: 0;
            left: 5vw;
        }
    }

    position: relative;
    img {
        position: absolute;
        right: -11rem;
        bottom: 0; 
        height: 40rem;
    }
}


@media (min-width: $bpw-1){
    #presentation {
        height: 90vh;

        .text-content {
            width: 100%;
            margin-top:15vh;

            > p:first-child {
                font-size: 2.2rem;
                font-weight: 300;
                margin-top: 2.8rem;
            }

            h2 {
                font-size: 3.2rem;
            }

            h1 {
                font-size: 2.4rem;
                width: 50%;
            }

            p:last-of-type {
                font-size: 1.8rem;
                font-weight: 300;
                margin-top: 2rem;
                width: 50%;
                margin-bottom: 2.4rem;
                text-shadow: black 0px 0px 2px;
            }
        }

        img {
            height: 50rem;
            right: -17rem;
        }
    }
}
