@mixin lateral-layout-padding() {
    padding-left: 16vw;
    padding-right: 16vw;

   

    @media (max-width: 440px){
        padding-left: 8vw;
        padding-right: 8vw;
    }

    @media (max-width: 1024px) {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@mixin top-layout-padding {
    padding-top: 16vh;

    @media (max-width: 440px){
        padding-top: 8vh;
    }
}

@mixin bottom-layout-padding {
    padding-bottom: 16vh;
}


.lateral-layout-padding {
    @include lateral-layout-padding;
}

