// Cores
$primary: #007bff;
$secondary: #6c757d;
$background-primary: #22242A;
$background-secondary: #EAEAEA;
$font-primary: #EAEAEA;
$font-secondary: #5F6168;
$font-tertiary: #000000;
$font-quaternary: #AFB0B3;

// Layout & Breakpoints

$breakpoint-width-1: 420px;
$breakpoint-width-2: 660px;
$breakpoint-width-3: 880px;

$breakpoint-height-1: 600px;
$breakpoint-height-2: 880px;

$layout-lateral-padding: 8vw;
$layout-lateral-padding-desktop: 16vw; // Breakpoint 1 (bp1) = 320px 

